async-timeout==4.0.3
bcrypt==4.0.1
black==25.9.0
blinker==1.6.2
cachelib==0.9.0
cffi==1.16.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cryptography==46.0.5
cycler==0.12.1
exceptiongroup==1.3.1
fillpdf==0.7.2
Flask==2.3.3
Flask-Caching==2.1.0
Flask-Login==0.6.2
flask-paginate==2023.10.8
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.59.1
fuzzywuzzy==0.18.0
greenlet==3.0.2
importlib-metadata==6.8.0
importlib_resources==6.5.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.2
kiwisolver==1.4.7
Levenshtein==0.25.0
MarkupSafe==2.1.3
matplotlib==3.9.4
mypy_extensions==1.1.0
mysql-connector-python==8.2.0
numpy==1.26.0
packaging==25.0
pandas==2.1.1
passlib==1.7.4
pathspec==0.12.1
pdf2image==1.16.3
pdfrw2==0.5.0
Pillow==12.1.1
platformdirs==4.4.0
pluggy==1.6.0
protobuf==5.29.6
pycparser==2.21
Pygments==2.19.2
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
PyMySQL==1.1.1
pyparsing==3.2.3
pypdf==6.6.2
pytest==8.4.2
python-dateutil==2.8.2
python-dotenv==1.2.1
python-Levenshtein==0.25.0
pytokens==0.1.10
pytz==2023.3.post1
rapidfuzz==3.6.1
redis==5.0.1
ruff==0.14.9
six==1.16.0
SQLAlchemy==2.0.21
SQLAlchemy-Utils==0.41.1
tomli==2.2.1
typing_extensions==4.8.0
tzdata==2023.3
Werkzeug==3.1.5
WTForms==3.1.0
zipp==3.17.0
