<!DOCTYPE html>
<html lang="en">

    <html>
        <head>
            <link rel="stylesheet" type="text/css"
                href="{{ url_for('static',filename='styles/page_style.css') }}">
        </head>
        <body>
            <div class="header" id="gradheader">
                <h1 class="header_text">Update PI information</h1>
                <h2 class="header_text">Approve the changes with update button</h2>
              </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="updatediv one">
                <h3>{{ messages[0] }}</h3>
            </div>
            {% endif %}
            {% endwith %}

            <form method="POST" action="/update_pi?pi_id_old={{pi_id_old}}">
                <input type="hidden" name="index" value="{{ index }}">
                {% for key, val in fields.items() %}      
                <div>
                    {% if key != "index" %}
                    <div class="updatediv one">
                        <h4> {{key}} </h4>
                    </div>
                    <div class="updatediv two">
<!-- Text area is white space sensitive so {{val}} cant have any spacebars before-->
<textarea name="{{key}}" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ val }}</textarea>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="updatediv one">
                    <button class="updatebutton">Update</button>
                </div>
            </form>
        </body>

    </html>