{% extends "base.html" %}

{% block content %}
<html>
  <body onload="loadFilterByKey(['#service_type', '#sort', '#project_id'])">
    <!--FUNCTIONS-->
    <script>
        function saveFilterByKey(keys) {
            for (key of keys){
            const $select = document.querySelector(key);
            localStorage.setItem(key, $select.value);
            }
        }
        function getSavedValue  (v){
                if (!localStorage.getItem(v)) {
                    return "";// You can change this to your defualt value. 
                }
                return localStorage.getItem(v);
            }
        function loadFilterByKey(keys) {
            for (key of keys){
            const $select = document.querySelector(key);
            $select.value = getSavedValue(key);
            }
        }
        </script>

    <div class="header" id="gradheader">
      <h1 class="header_text">Invoice prices history</h1>
      <h2 class="header_text">List of all details about past service prices</h2>
    </div>
    <div class="paddingdiv">
        <div class="rowdiv">
          <div class="columndiv"></div>
          <div class="columndiv">
            <form method="POST" action="/invoices_list">
              <div class="leftdiv">
                <label class="formlabel">Service Type</label>
                <select class="tableselect" name="service_type" id="service_type">
                  <option value="All" selected>All</option>
                  <option value="RNA-Seq analysis">RNA-Seq analysis</option>
                  <option value="DNA-Seq analysis">DNA-Seq analysis</option>
                  <option value="Proteomics analysis">Proteomics analysis</option>
                  <option value="Metabolite analysis">Metabolite analysis</option>
                  <option value="BioRender license">BioRender license</option>
                </select>
              </div>
              <div class="leftdiv">
                <label class="formlabel">Project ID</label>
                <input class="tableinput" type="text" name="project_id" id="project_id"
                  placeholder="Project ID">
              </div>
              <div class="leftdiv">
                <label class="formlabel">Sort by</label>
                <select class="tableselect" name="sort" id="sort">
                  <option value="Original">Original order</option>
                  <option value="Project ID">Project ID</option>
                  <option value="Request Date">Request Date</option>
                  <option value="Total price">Total price</option>
                  <option value="Total discount">Total discount</option>
                  <option value="Bill">Bill</option>
                  <option value="Service Type">Service Type</option>
                </select>
              </div>
              <div class="leftdiv">
                <button class="filterbutton"
                  onclick="saveFilterByKey(['#service_type', '#sort', '#project_id'])">Filter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="noback_centerdiv">
        {% if data == [] %}
          <h2>No data to be displayed</h2>
          {% else %}
      <div class="div-border-min">
          <div style="background-color: #333333; height: 40px; border-top-right-radius: 14px; border-top-left-radius: 14px;">
            {{ pagination.links }}
          </div>
          <div class="orderdiv">
          <table class="table_round_bottom">
            <thead>
              <tr>
                {% for header in data[0].keys() %}
                <th>
                  <h4>{{ header }}</h4>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in range(0, len(data)) %}
              <tr id="{{row}}">
                {% for col in range(0, len(list(data[row].values()))) %}
                <td>
                  {% if col == 0 %}
                    <a
                      href="/delete_invoice?project_id={{list(data[row].values())[0]}}"><button
                        class="deletebutton"
                        onclick="return confirm('Are you sure You want to delete this invoice?')">X</button></a>
                        <a
                        href="/invoice_details?project_id={{list(data[row].values())[0]}}">{{
                        list(data[row].values())[col]}}</a>
                  {% else %}
  
                  {{ list(data[row].values())[col] }}

                  {% endif %}
  
                  {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="paddingdiv">
      <form method="GET" action="/downloadInvoicesCSV">
        <button class="filterbutton" style="width: 125px; margin-left: 1195px;">Download</button>
      </form>  
    </div>  
  </body>
</html>
{% endblock %}