<!DOCTYPE html>
<html lang="en">

    <html>
        <head>
            <link rel="stylesheet" type="text/css"
                href="{{ url_for('static',filename='styles/page_style.css') }}">
        </head>
        <body>
            <div class="header" id="gradheader">
                <h1 class="header_text">Update entry</h1>
                <h2 class="header_text">Approve the changes with update button</h2>
              </div>
            <form method="POST" action="/update?question_id={{request.args.get('question_id')}}&order_num={{request.args.get('order_num')}}&page={{request.args.get('page')}}">
                {% for key, val in fields.items() %}
                {% if key != "Question" %}        
                <div>
                    <div class="updatediv one">
                        <h4> {{key}} </h4>
                    </div>
                    <div class="updatediv two">
<!-- Text area is white space sensitive so {{val}} cant have any spacebars before-->
<textarea name="{{key}}" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' onclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ val }}</textarea>
                    </div>
                </div>
                {% else %}
                    <input type = "hidden" name = "{{ key }}" value = "{{ val }}">
                {% endif %}
                {% endfor %}
                <div class="updatediv one">
                    <button class="updatebutton">Update</button>
                </div>
            </form>
        </body>

    </html>
