{% extends "base.html" %}

{% block content %}
<html>

<body>
    <div class="header" id="gradheader">
        <h1 class="header_text">{{Panel_Name}} Panel</h1>
    </div>
    <div class="rowdiv">
        {% if current_user.is_admin %}
        <div class="columndiv">
            <form method="GET" action="/addPanelAntibody">
                <input type="hidden" name="Panel Name" id="Panel_Name" value="{{Panel_Name}}">
                <button id="addAntibodyButton" class="filterbutton" style="width: 175px;"> Add Antibody </button>
            </form>
        </div>
        {% endif %}
        <script>
            $(document).ready(function () {
                // click event to the button
                $('#addAntibodyButton').click(function () {
                    // Redirect to a new webpage
                    window.location.href = '/addAntibody';
                });
            });
        </script>
    </div>
    <div class="noback_centerdiv">
        <div class="div-border-min">
            <div
                style="background-color: #333333; height: 40px; border-top-right-radius: 14px; border-top-left-radius: 14px;">
                {{ pagination.links }}
            </div>
            <table class="table_round_bottom">
                <thead>
                    <tr>
                        {% for header in data[0].keys() %}
                        <th>
                            <h4>{{ header }}</h4>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in range(0, len(data)) %}
                    <tr id="{{row}}">
                        {% for col in range(0, len(list(data[row].values()))) %}
                        <td>
                            {% if col == 1 and current_user.is_admin %}
                            <form method="POST" action="/deletePanelAntibody">
                                <input type="hidden" name="Panel Name" id="Panel_Name" value="{{Panel_Name}}">
                                <input type="hidden" name="primaryKey" value="{{ data[row]['Stock_ID'] }}" />
                                <button id="addAntibodyButton" class="deletebutton"
                                    onclick="return confirm('Are you sure You want to delete this panel?')">X</button>
                            </form>
                            {% endif %}
                            {{ list(data[row].values())[col] }}

                            {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
{% endblock %}