{% extends "base.html" %}

{% block content %}
<html>
    <head>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>
    <body>
        <div class="header" id="gradheader">
            <h1 class="header_text">Antibodies</h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="div-border-min">
            <h3>{{ messages[0] }}</h3>
        </div>
        {% endif %}
        {% endwith %}
        <div class="paddingdiv">
          <div class="rowdiv">
            <div class="columndiv">
              <button id="addAntibodyButton" class="filterbutton" style="width: 175px;"> Add Antibody </button>
            </div>
            <script>
              $(document).ready(function() {
                // click event to the button
                $('#addAntibodyButton').click(function() {
                    // Redirect to a new webpage
                    window.location.href = '/addAntibody';
                });
              });
            </script>
            <!-- FILTERING -->
            <div class="columndiv">
              <form method="POST" action="/antibodies">
                <div class="leftdiv">
                  <label class="formlabel">Company</label>
                  <input class="tableinput" type="text" name="company_name" id="company_name"
                    placeholder="Company Name">
                </div>
                <div class="leftdiv">
                  <label class="formlabel">Target</label>
                  <input class="tableinput" type="text" name="target_name" id="target_name"
                    placeholder="Target Name">
                </div>
                <div class="leftdiv">
                  <label class="formlabel">Target Species</label>
                  <input class="tableinput" type="text" name="target_species" id="target_species"
                    placeholder="Species Name">
                </div>
                <div class="leftdiv">
                  <label class="formlabel">Sort by</label>
                  <select class="tableselect" name="sort" id="sort">
                    <option value="Target Name" selected>Target Name</option>
                    <option value="Catalog Number">Catalog Number</option>
                    <option value="Expiration Date">Expiration Date</option>
                    <option value="Price">Price</option>
                  </select>
                </div>
                <button class="filterbutton"
                  onclick="saveFilterByKey(['#Company', '#target_name', '#sort'])">Filter</button>
              </form>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="paddingdiv-border">
        <div class="orderdiv">
        <table class="table_round_bottom">
            <thead>
              <tr>
                {% for header in data[0].keys() %}
                <th>
                  <h4>{{ header }}</h4>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in range(0, len(data)) %}
              <tr id="{{row}}">
                {% for col in range(0, len(list(data[row].values()))) %}
                <td>
  
                  {{ list(data[row].values())[col] }}
  
                  {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </body>
</html>
{% endblock %}