{% extends "base.html" %}

{% block content %}
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
  <div class="header" id="gradheader">
    <h1 class="header_text">Antibodies</h1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="div-border-min">
    <h3>{{ messages[0] }}</h3>
  </div>
  {% endif %}
  {% endwith %}
  <div class="{% if not current_user.is_admin %}noback_centerdiv {%else%} {% endif %}">
    <div class="paddingdiv">
      <div class="rowdiv">
        {% if current_user.is_admin %}
        <div class="columndiv">
          <button id="addAntibodyButton" class="filterbutton" style="width: 175px;"> Add Antibody </button>
        </div>
        {% endif %}
        <script>
          $(document).ready(function () {
            // click event to the button
            $('#addAntibodyButton').click(function () {
              // Redirect to a new webpage
              window.location.href = '/addAntibody';
            });
          });
        </script>
        <!-- FILTERING -->
        <div class="columndiv">
          <form method="POST" action="/antibodies">
            <div class="leftdiv">
              <label class="formlabel">Company</label>
              <input class="tableinput" type="text" name="company_name" id="company_name" placeholder="Company Name">
            </div>
            <div class="leftdiv">
              <label class="formlabel">Target</label>
              <input class="tableinput" type="text" name="target_name" id="target_name" placeholder="Target Name">
            </div>
            <div class="leftdiv">
              <label class="formlabel">Target Species</label>
              <input class="tableinput" type="text" name="target_species" id="target_species"
                placeholder="Species Name">
            </div>
            <div class="leftdiv">
              <label class="formlabel">Sort by</label>
              <select class="tableselect" name="sort" id="sort">
                <option value="Target Name" selected>Target Name</option>
                <option value="Catalog Number">Catalog Number</option>
                <option value="Expiration Date">Expiration Date</option>
                <option value="Price">Price</option>
                {% if current_user.is_admin %}
                <option value="Box Name">Box Name</option>
                {% endif %}
              </select>
            </div>
            <div class="leftdiv">
              <!--
              <label class="formlabel">Panels</label>
              <select class="tableselect" name="panelSelect" id="panelSelect">
                <option value="All" selected>All</option>
                <option value="panel1">Panel 1</option>
                <option value="panel2">Panel 2</option>
                <option value="panel3">Panel 3</option>
                {% if current_user.is_admin %}
                <option value="privatePanel">Private Panel</option>
                {% endif %}
              </select>
              -->
              <button class="filterbutton"
              onclick="saveFilterByKey(['#Company', '#target_name', '#sort'])">Filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="paddingdiv">
    {% if current_user.is_admin %}
    <!-- Display the number of rows -->
    <p>Number of Antibodies: {{ num_rows }}</p>
    {% endif %}
  </div>
  <div class="noback_centerdiv">
    <div class="div-border-min">
      <div
      style="background-color: #333333; height: 40px; border-top-right-radius: 14px; border-top-left-radius: 14px;">
      {{ pagination.links }}
    </div>
      <div class="orderdiv">
        <table class="table_round_bottom">
          <thead>
            <tr>
              {% for header in data[0].keys() %}
              {% if current_user.is_admin and header != "Stock_ID"%}
              <th>
                <h4>{{ header }}</h4>
              </th>
              {% else %}
              {% if header not in ("Stock_ID", "Box Name", "Size", "Concentration", "Expiration Date", "Titration",
              "Cost ($)") %}
              <th>
                <h4>{{ header }}</h4>
              </th>
              {% endif %}
              {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in range(0, len(data)) %}
            <tr id="{{row}}">
              {% for col in range(0, len(list(data[row].values()))) %}
              {% if current_user.is_admin %}
              {% if list(data[row].keys())[col] == "Box Name" %}
              <td>
                {{ list(data[row].values())[col] }}
                {% if col == 1 %}
                  {% if data[row]["Included"] != 0 and data[row]["Catalog Number"] != "N/A" %}
                    <form id="deleteForm" method="POST" action="/deleteAntibody">
                      <input type="hidden" name="primaryKey" value="{{ data[row]['Stock_ID'] }}" />
                      <button id="confirmBtn" class="deletebutton" onclick="return confirm('Are you sure you want to delete this antibody?')">X</button>
                    </form>
                    <form method="GET" action="/changeAntibody">
                      <input type="hidden" name="primaryKey" value="{{ data[row]['Stock_ID'] }}" />
                      <button class="filterbutton">Change Info</button>
                    </form>
                  {% endif %}
                {% endif %}
              </td>
              {% endif %}
              {% endif %}
              {% if not current_user.is_admin %}
              {% if list(data[row].keys())[col] not in ("Stock_ID", "Box Name", "Size", "Concentration", "Expiration Date", "Titration", "Cost ($)") %}
              <td>
                {{ list(data[row].values())[col] }}
              </td>
              {% endif %}
              {% elif list(data[row].keys())[col] not in ("Stock_ID", "Box Name") %}
              <td>
                {{ list(data[row].values())[col] }}
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</body>
</html>
{% endblock %}
