{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <div class="header" id="gradheader">
            <h1 class="header_text">Stock</h1>
            <h2 class="header_text">Stock information about used supplies and equipment</h2>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="div-border-min">
            <h3>{{ messages[0] }}</h3>
        </div>
        {% endif %}
        {% endwith %}
        <div class="paddingdiv-border">
        <div class="orderdiv">
        <table class="table_round_bottom">
            <thead>
              <tr>
                {% for header in data[0].keys() %}
                <th>
                  <h4>{{ header }}</h4>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in range(0, len(data)) %}
              <tr id="{{row}}">
                {% for col in range(0, len(list(data[row].values()))) %}
                <td>
  
                  {{ list(data[row].values())[col] }}
  
                  {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </body>
</html>
{% endblock %}