{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <div class="header" id="gradheader">
            <h1 class="header_text">Login</h1>
            <h2 class="header_text">Login to use admin specific features</h2>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="updatediv one">
            <h3>{{ messages[0] }}</h3>
        </div>
        {% endif %}
        {% endwith %}
        {% if current_user.is_authenticated %}
        
        {% endif %}
        <div class="centerdiv">
            <form method="POST" action="/login">
                <input class="logininput" type="email"
                    name="email" placeholder="Your Email" autofocus>
                <input class="logininput" type="password"
                    name="password" placeholder="Your Password">
                <div class="updatediv one">
                    <button class="updatebutton">Login</button>
                </div>
            </form>
        </div>
    </body>
</html>
{% endblock %}