{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <div class="header" id="gradheader">
            <h1 class="header_text">Stock</h1>
            <h2 class="header_text">Stock information about used supplies and equipment</h2>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="div-border-min">
            <h3>{{ messages[0] }}</h3>
        </div>
        {% endif %}
        {% endwith %}
        <div class="paddingdiv">
          <div class="rowdiv">
            <div class="columndiv">
              <button id="addsuppliesButton" class="filterbutton" style="width: 175px;"> Add Supplies </button>
            </div>
            <script>
              $(document).ready(function() {
                // click event to the button
                $('#addsuppliesButton').click(function() {
                    // Redirect to a new webpage
                    window.location.href = '/addsupplies';
                });
              });
            </script>
            <!-- FILTERING -->
            <div class="columndiv">
              <form method="POST" action="/stock">
                <div class="leftdiv">
                  <div class="leftdiv">
                    <label class="formlabel">Company</label>
                    <input class="tableinput" type="text" name="Company" id="p_name"
                      placeholder="Company Name">
                  </div>
                </div>
                  <div class="leftdiv">
                    <label class="formlabel">Product</label>
                    <input class="tableinput" type="text" name="Product" id="p_name"
                      placeholder="Product Name">
                  </div>
                <div class="leftdiv">
                  <label class="formlabel">Sort by</label>
                  <select class="tableselect" name="sort" id="sort">
                    <option value="QuantityAscending" selected>Quantity Ascending</option>
                    <option value="QuantityDescending">Quantity Descending</option>
                    <option value="Product">Product</option>
                    <option value="Cost">Cost</option>
                  </select>
                </div>
                <button class="filterbutton"
                  onclick="saveFilterByKey(['#service_type', '#pi_name', '#sort'])">Filter</button>
              </form>
            </div>
          </div>
        </div>
        <div class="noback_centerdiv">
        <div class="div-border-min">
        <div class="orderdiv">
        <table class="table_round_bottom">
            <thead>
              <tr>
                {% for header in data[0].keys() %}
                <th>
                  <h4>{{ header }}</h4>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in range(0, len(data)) %}
              <tr id="{{row}}">
                {% for col in range(0, len(list(data[row].values()))) %}
                <td>
  
                  {{ list(data[row].values())[col] }}
  
                  {% endfor %}
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
    </body>
</html>
{% endblock %}